:root {
  /* --primary-color: #eaa636;
  --primary-color-rgb: 234, 166, 54; */

  --primary-color: #0073CF;
  --primary-color-rgb: 0, 115, 207;

  --secondary-color:#570603;
  --secondary-color-rgb: 255, 87, 51;



  /* --fuschia: #ff0081;
  --button-text-color: #ffff; 
  --baby-blue: #f8faff;
  --button-bg: #ff0081; */
}
